In [2]:
import json
import pandas as pd

In [5]:
test_file_path = "../data/raw/tweet-objects/"
test_ids = pd.read_table("../data/raw/test.data.txt", header=None)

In [6]:
test_ids

                                                     0
0              1246482832316301319,1247355493988909056
1    1252279738099433473,1251884146403815428,125203...
2    1236050255394877440,1236050046950481922,123605...
3    1235582115900796928,1235584239497867275,123558...
4    1258787515592572928,1258710626676899840,125871...
..                                                 ...
553  427944719612915712,427960532981665792,42794963...
554  531206167302012929,531228826496679936,53125574...
555  553099685888790528,553640547282608128,55762731...
556  1222928724112396288,1222922750546923521,122292...
557  1239324381215707139,1239324383396716546,123932...

[558 rows x 1 columns]

In [9]:
def get_tweet_group_data(tweets_file_path, id_list):
    data_list = []
    for tweet_id in id_list:
        file_name = tweets_file_path + tweet_id + ".json"
        with open(file_name) as f:
            data = json.load(f)
        data_list.append(data)

    return data_list

In [23]:
data = []
for i in range(len(test_ids)):
    # get data for each group of tweets
    id_list = test_ids.iloc[i][0].split(",")
    data_list =  get_tweet_group_data(test_file_path, id_list)
    data.append(data_list)

In [22]:
len(data)

558

In [31]:
df = pd.Series(data).to_frame('data')

In [33]:
df.to_json("../data/test_data_all.json", orient='records')

In [6]:
test_data = pd.read_json("../data/test_data_all.json")
test_data

                                                  data
0    [{'created_at': '2020-04-04T17:00:40.000Z', 'i...
1    [{'created_at': '2020-04-20T16:55:30.000Z', 'i...
2    [{'created_at': '2020-03-06T22:05:20.000Z', 'i...
3    [{'created_at': '2020-03-05T15:05:07.000Z', 'i...
4    [{'created_at': '2020-05-08T15:55:05.000Z', 'i...
..                                                 ...
553  [{'created_at': '2014-01-27T23:22:26.000Z', 'i...
554  [{'created_at': '2014-11-08T22:06:34.000Z', 'i...
555  [{'created_at': '2015-01-08T08:03:35.000Z', 'i...
556  [{'created_at': '2020-01-30T17:05:03.000Z', 'i...
557  [{'created_at': '2020-03-15T22:55:32.000Z', 'i...

[558 rows x 1 columns]

In [13]:
for i in range(len(test_data)):
    for tweet in test_data['data'][i]:
        tweet['user']['username'] = tweet['user']['screen_name']

In [16]:
test_data.to_json("../data/test_data_all.json", orient='records')