In [35]:
import json
import pandas as pd

In [5]:
test_file_path = "../../project-data/tweet-objects/tweet-objects/"
test_ids = pd.read_table("data/test.data.txt", header=None)

In [6]:
test_ids

                                                     0
0              1246482832316301319,1247355493988909056
1    1252279738099433473,1251884146403815428,125203...
2    1236050255394877440,1236050046950481922,123605...
3    1235582115900796928,1235584239497867275,123558...
4    1258787515592572928,1258710626676899840,125871...
..                                                 ...
553  427944719612915712,427960532981665792,42794963...
554  531206167302012929,531228826496679936,53125574...
555  553099685888790528,553640547282608128,55762731...
556  1222928724112396288,1222922750546923521,122292...
557  1239324381215707139,1239324383396716546,123932...

[558 rows x 1 columns]

In [9]:
def get_tweet_group_data(tweets_file_path, id_list):
    data_list = []
    for tweet_id in id_list:
        file_name = tweets_file_path + tweet_id + ".json"
        with open(file_name) as f:
            data = json.load(f)
        data_list.append(data)

    return data_list

In [23]:
data = []
for i in range(len(test_ids)):
    # get data for each group of tweets
    id_list = test_ids.iloc[i][0].split(",")
    data_list =  get_tweet_group_data(test_file_path, id_list)
    data.append(data_list)

In [22]:
len(data)

558

In [31]:
df = pd.Series(data).to_frame('data')

In [33]:
df.to_json("data/test_data_all.json", orient='records')

In [34]:
pd.read_json("data/test_data_all.json")

                                                  data
0    [{'created_at': 'Sat Apr 04 17:00:40 +0000 202...
1    [{'created_at': 'Mon Apr 20 16:55:30 +0000 202...
2    [{'created_at': 'Fri Mar 06 22:05:20 +0000 202...
3    [{'created_at': 'Thu Mar 05 15:05:07 +0000 202...
4    [{'created_at': 'Fri May 08 15:55:05 +0000 202...
..                                                 ...
553  [{'created_at': 'Mon Jan 27 23:22:26 +0000 201...
554  [{'created_at': 'Sat Nov 08 22:06:34 +0000 201...
555  [{'created_at': 'Thu Jan 08 08:03:35 +0000 201...
556  [{'created_at': 'Thu Jan 30 17:05:03 +0000 202...
557  [{'created_at': 'Sun Mar 15 22:55:32 +0000 202...

[558 rows x 1 columns]